<section>
    <div class="section-container-haut">
        <div class="section-gauche">
            <h2>
                <img class="logo-double-tree" src="../assets/logo-vege.png" alt="">
                Consultez <span class="plat-vois">Plateforme-Voisin</span> avant de chercher ailleurs
            </h2>
        </div>
        <div class="section-droite">
            <span class="ajouter">Ajoutez une annonce</span>
        </div>
    </div>
    <div class="section-container-bas">
        <div class="section-bas">
            <ul class="section-bar-ul">
                <li class="bar-1">
                    <button class="dropdown-toggle">Catégories</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Catégorie 1</a></li>
                        <li><a href="#">Catégorie 2</a></li>
                        <li><a href="#">Catégorie 3</a></li>
                        <li><a href="#">Catégorie 4</a></li>
                    </ul>
                </li>
                <li class="bar-2">
                    <input  type="text" placeholder="Je recherche..." autofocus>
                </li>
                <li class="bar-3">
                    <input  type="text" placeholder="Belgique" id="destination-input">
                </li>
                <li class="bar-4">
                    <input  type="number" placeholder="+10km" id="distance-input">
                </li>
                <li class="bar-5">
                    <img class="search" src="../assets/search.png" alt="Search icon">
                </li>
            </ul>
        </div>
    </div>
</section>