<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plateforme-Voisins</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <th:block th:insert="~{layout/header}"></th:block>
    <th:block th:insert="~{layout/section}"></th:block>

    <div class="container-body-principal">
        <ul class="task-container">
            <li th:each="task :${customerTasks}">
                <div class="task-item">
                    <img th:src="@{/assets/{photo}(photo=${task.photo})}" alt="Task Image" class="task-image">
                    <h3 th:text="${task.taskName}"></h3>
                    <p th:text="${task.budget}"></p>
                    <p>
                        Posted by : <a th:text="${task.user.username}"></a>
                    </p>

                </div>
            </li>
        </ul>
    </div>


</body>
</html>